#user {
  margin-top: -15px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  background-color: #E6E6FA;
  margin-bottom: 15px;
  position: relative;
  font-family: monospace;
  font-size: 20px;
  color: black;
  font-weight: bold;
}

img {
  border-radius: 100px;
  margin: 10px;
}

span {
  position: relative;
  bottom: 30px;
}

#svg {
  margin: 0 auto;
  font-family: monospace;
  font-weight: bold;
}

#exit {
  text-align: center;
  /*color: aliceblue;*/
  background-color: aliceblue;
  position: absolute;
  bottom: 20px;
  right: 1%;
}
#svg_block{
  margin: 0 auto;
  display: inline-block;
  justify-content: center;
  width: 50%;
}
table {
  background-color: #E6E6FA;
  margin: auto;
}

#form_block {
  text-align: center;
  margin:0 auto;
  display: inline-block;
  width: 50%;
}

.values {
  color: black;
  font-family: monospace;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

p-slider, p-dropdown {
  margin:0 auto;
  display: table;
}
.buttons{
  margin: 5px;
  font-family: monospace;
  font-size: 15px;
  width: 100px;
}
#result_table {
  width: 70%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin: auto;
  padding: 20px;
  text-align: center;
  color: black;
  font-family: monospace;
  font-size: 15px;
  background-color: #E6E6FA;
}
#main_page{
  background-color: #E6E6FA;
  display: inline-block;
  list-style: none;
  width: 100%;
  height: auto;
  justify-content: center;
  margin: auto 0;
}
.columns{
  word-wrap: break-word;
}
.main_block{
  justify-content: center;
  position: center;
  display: inline-block;
}
@media (max-width: 570px) {
  #svg_block{
    display: table;
  }
  #form_block{
    display: table;
    margin-bottom: 10px;
  }
  #result_table{
    width: 100%;
  }
}

