#picture{
  width: 30vw;
  height: 40vw;
  background-image: url("../../assets/images/MjWOaJD-YjI.jpg");
  margin: auto;
  background-size: cover;
  text-align: center;
}
#start{
  background-color: #E6E6FA;
}
#text{
  position: relative;
  word-wrap: break-word;
  top: 70%;
  font-family: monospace;
  font-weight: bolder;
  font-size: 2vw;
  color: brown;
}
h1{
  font-family: monospace;
  text-align: center;
  word-wrap: break-word;
}
.message{
  text-align: center;
  font-family: monospace;
  font-size: 20px;
  word-wrap: break-word;
}
.form_authorization{
  border: 5px solid #483D8B;
  border-radius: 10px;
  margin: auto;
  width: 20vmax;
  font-family: monospace;
}
.p-float-label{
  margin: 5px;
}
.text_authorization{
  margin: 5px;
}
input{
  margin-right: 5px;
}
button{
  position: relative;
  margin: 5px 40%;
  font-size: 15px;
  width: 5vmax;
  font-family: monospace;
}
input, label{
  width: 10vmax;
}
